<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: site-head">
	</head>
	
	<body>
		<header th:replace="layout :: site-header"></header>
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 th:text="'Welcome to Von Ehwegen Ranch budget page, ' + ${name} + '!'"></h1>
					<p class="lead">
						This is a placeholder budget page.<br/> 
						News about the Von Ehwegen household budget will be placed here soon.<br/>
						This will be a secured page.
					</p>
					
					<table id="accountsTable" class="table table-striped">
						<thead>
							<tr>
								<th>Account Name</th>
								<th>User</th>
								<th>Balance</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="a : ${accounts}">
								<td th:text="${a.id}">Account Id</td>
								<td th:text="${a.userNum}">User Num</td>
								<td th:text="${a.balance}">Balance</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
    	<!-- Datatables -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
			    $('#accountsTable').dataTable({
			    	"paging" : false		
			    });
			});
		</script>
		
		<footer th:replace="layout :: site-footer"></footer>
	</body>
</html>
