<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: site-head"></head>
	
	<body>
		<header th:replace="layout :: site-header"></header>
		
		<div class="container">
			<div class="starter-template">
				<h1 th:text="'Welcome to Von Ehwegen Ranch, ' + ${name} + '!'"></h1>
				<p class="lead">
					This is a placeholder home page.<br/> 
					News about the Von Ehwegen household will be placed here soon.
				</p>
			</div>
	    </div><!-- /.container -->
		
		<footer th:replace="layout :: site-footer"></footer>
	</body>
</html>
