<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Default head tag -->
	<head th:fragment="site-head">
	  	<title>Von Ehwegen Ranch - Home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	  	<meta th:include="this :: head" th:remove="tag"/>
	  	
		<!-- Bootstrap core CSS -->
		<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
		<!-- Custom styles for this template -->
	  	<link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
		
		<script src="/js/jquery-3.1.1.js"></script>
    	<script src="/js/bootstrap.js"></script>
	</head>
	
	<body>
		<!-- Default Header -->
		<header th:fragment="site-header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					  	<a class="navbar-brand" href="/">VWD</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  	<ul class="nav navbar-nav">
					    	<li th:class="${pagename} == 'home' ? 'active' : ''"><a href="/">Home</a></li>
					    	<li th:class="${pagename} == 'budget' ? 'active' : ''"><a href="/budget">Budget</a></li>
						    <li class="dropdown">
						      	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/interview">Interview Questions</a></li>
						        	<li><a href="#">Another action</a></li>
						        	<li><a href="#">Something else here</a></li>
						       		<li role="separator" class="divider"></li>
						        	<li><a href="#">Separated link</a></li>
						        	<li role="separator" class="divider"></li>
						        	<li><a href="#">One more separated link</a></li>
						      </ul>
						    </li>
					  	</ul>
					  	
					  	<form class="navbar-form navbar-left">
						    <div class="form-group">
						      	<input type="text" class="form-control" placeholder="Search"/>
						    </div>
					    	
					    	<button type="submit" class="btn btn-default">Submit</button>
					  	</form>
					  
						<ul class="nav navbar-nav navbar-right">
						  	<li><a href="#">Link</a></li>
						  	<li class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							    <ul class="dropdown-menu">
							    	<li><a href="/logout">Logout</a></li>
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
							    </ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		
		<!-- Body container -->
		<div class="container" th:fragment="site-container">
			<div class="row">
				<div class="col-sm-12">
			
				</div>			
			</div>
		</div>
		
		<!-- Default Footer -->
	    <footer class="footer" th:fragment="site-footer">
   			<div class="container">
   				<p class="text-muted">Swaglord 2017</p>
   			</div>
   		</footer>
   		
   		<!-- Default Large Button -->
   		<button th:text="${text}" th:fragment="button-large(text)" type="button" class="btn btn-primary btn-lg"></button>
	</body>
</html>